<!doctype html>
<html>
  <head><title>Finance App</title></head>
  <body>
    <h1>Welcome to Finance App</h1>
<!--    <button onclick="location.href='{{ url_for('offering') }}'">-->
<!--      Count Offering Money-->
<!--    </button>-->
    <a href="offering.html">
      <button>Count Offering Money</button>
    </a>
<!--    <button onclick="location.href='{{ url_for('upload') }}'">-->
<!--      Upload GIVT Excel-->
<!--    </button>-->
  <a href="upload.html">
    <button>Upload GIVT Excel</button>
  </a>
  </body>
</html>