<html>
    <body>
        <h1>Register Income or Spendings!</h1>
        <form method="post">
            <label>Date: <input type="date" name="tdate" required></label><br>
            <label>Please input the subject(such as donation or buying something from a company such as mediamarkt):</label>
            <input type="text" id="tsubject" name="tsubject"><br>
            <label>Please input the category(such as rent, donations, etc...):</label>
            <input type="text" id="tcategory" name="tcategory"><br>
            <label>Please input the type of spending(liability or asset):</label>
            <input type="text" id="tspending" name="tspending"><br>
             <label>Please input the total amount:</label>
            <input type="number" step="any" id="tamount" name="tamount"><br>
            <label>Please give a small description justifying the amount:</label>
            <input type="text" id="tcreated_at" name="tcreated_at"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>